/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
*{ 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#224c8a !important;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js{
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    /*background-color: #00acee;*/
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#particles-js canvas{
    z-index: 1;
    }
    
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 3vh 10vw !important;
}

.login-bg {
    position: relative;
    z-index: 0;
}

/* Navigation CSS */

.nav-container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-container a{
  color: white;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}

.user-dropdown{
  color: white !important;
}

.nav-container .logo:hover{
  color: white !important;
}

.dropdown-item{
  color: #000 !important;
  padding: 4px 15px !important;
}

.dropdown-item img{
  margin-right: 5px;
}


/* Prompt CSS */
.promp-container{

}

.greetings{
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 50px;
}

.btn-outline-secondary{
  background-color: white !important;
  border: 1px solid #ced4da !important;
  border-left: none !important;
}

#prompt-msg{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-prompt, .ai-prompt{
  width: 75%;
  display: flex;
  flex-direction: column;
  color: white;
}
.user-prompt .username-cont, .ai-prompt .ainame-cont{
  font-size: 25px;
}

.user-prompt .user-msg, .ai-prompt .ai-msg{
  font-size: 22px;
}

/* Table CSS */

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}